<h2>Add New Post</h2>
<p>
	<form action="/new" method="POST" >
		<textarea name="content" class="form-control" rows="8" placeholder="Add post here" ></textarea>
		<br />
		<textarea name="author" class="form-control" rows="1" placeholder="Add name here" ></textarea>
		<br />
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</p>
